ПАКЕТ SURPRISE

    используйте данные MovieLens 1M
    можно использовать любые модели из пакета
    получите RMSE на тестовом сете 0.87 и ниже

Комментарий преподавателя :
В ДЗ на датасет 1М может не хватить RAM. Можно сделать на 100K. Качество RMSE предлагаю считать на основе CrossValidation (5 фолдов), а не отложенном датасете.

In [1]:
import pandas as pd

from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader

# используйте данные MovieLens 1M

In [2]:
ratings=pd.read_csv('../AMLHW10-collaborative-filtering/ml-1m/ratings.dat',
            sep='::', header=None, names=['user_id', 'movie_id', 'rating', 'timestamp'], engine='python')
ratings.head(5)

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [3]:
movies=pd.read_csv('../AMLHW10-collaborative-filtering/ml-1m/movies.dat',
            sep='::', header=None, names=['movie_id', 'title', 'genres'], engine='python')
movies.head(5)

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [4]:
movies_with_ratings = movies.join(ratings.set_index('movie_id'), on='movie_id').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)

In [5]:
movies_with_ratings.head()

,movie_id,title,genres,user_id,rating,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,5.0,978824268.0
1,1,Toy Story (1995),Animation|Children's|Comedy,6.0,4.0,978237008.0
2,1,Toy Story (1995),Animation|Children's|Comedy,8.0,4.0,978233496.0
3,1,Toy Story (1995),Animation|Children's|Comedy,9.0,5.0,978225952.0
4,1,Toy Story (1995),Animation|Children's|Comedy,10.0,5.0,978226474.0

In [6]:
dataset = pd.DataFrame({
    'uid': movies_with_ratings.user_id,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [7]:
reader = Reader(rating_scale=(ratings.rating.min(), ratings.rating.max()))
data = Dataset.load_from_df(dataset, reader)

# можно использовать любые модели из пакета
получите RMSE на тестовом сете 0.87 и ниже

In [8]:
from surprise import SVD
from surprise.model_selection import cross_validate

In [9]:
algo = SVD()

In [10]:
cv = cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8701  0.8735  0.8755  0.8750  0.8735  0.8735  0.0019
MAE (testset)     0.6834  0.6853  0.6877  0.6878  0.6853  0.6859  0.0017
Fit time          56.66   56.19   56.28   56.51   57.01   56.53   0.29
Test time         2.50    2.68    2.69    2.70    2.53    2.62    0.09

In [11]:
algo_1 = KNNWithMeans(k=20, sim_options={'name': 'pearson_baseline', 'user_based': True})

In [12]:
cv_1 = cross_validate(algo_1, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8936  0.8951  0.8930  0.8939  0.8957  0.8943  0.0010
MAE (testset)     0.6930  0.6948  0.6928  0.6933  0.6946  0.6937  0.0008
Fit time          133.33  131.63  133.83  132.75  135.19  133.34  1.18
Test time         105.15  105.86  105.91  105.52  105.46  105.58  0.28

In [13]:
algo_2 = KNNWithMeans(k=20, sim_options={'name': 'pearson_baseline', 'user_based': False})

In [14]:
cv_2 = cross_validate(algo_2, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.
Evaluating RMSE, MAE of algorithm KNNWithMeans on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8586  0.8560  0.8588  0.8566  0.8557  0.8571  0.0013
MAE (testset)     0.6701  0.6681  0.6703  0.6684  0.6691  0.6692  0.0009
Fit time          63.66   62.92   64.11   61.69   62.76   63.03   0.83
Test time         62.97   62.21   62.29   60.84   61.39   61.94   0.74

In [15]:
from surprise import SVDpp

In [16]:
algo_3 = SVDpp()

In [ ]:
cv_3 = cross_validate(algo_3, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

In [ ]:
from surprise import SlopeOne

In [ ]:
algo_4 = SlopeOne()

In [ ]:
cv_4 = cross_validate(algo_4, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)